
.header{
	margin-top: 20px;
	
	#pkEndureLogo{
		background-image: url("../img/ParkourEndure.png");
		background-repeat: no-repeat;
		/*width: 434px;*/
		height: 42px;
	}
	
	.navbar-nav{
	
		li{
			font-size: 1.5em;
		}
	}
	
	.navbar{
		border-radius: 0px !important;
		margin-bottom: 0px !important;
	}
}