$blue-primary: #004EB2 rgb(0, 78, 178);

@import 'header';

body,p,div,span,h1,h2,h3,h4,h5,h6,input,form,a,ul,li{
	margin: 0px;
	padding: 0px;	
	font-family: sans-serif;
}

#main-wrapper{
	margin: 0 auto;
}

.inline-list{
	li{
		text-decoration: none;
		display: inline;
	}
}

.center-text{
	text-align: center;
}