<div th:fragment="coachesModule">
	<script th:src="@{/js/coaches.js}"></script>
	
	
	<div id="coaches" class="small-12">
		<div class="coach small-12 medium-4 columns">
			<h3 class="coach-name text-center">John George</h3>
			<div class="image-container hide-for-small-only">
				<img class="center" src="img/pkCoachJohn.png"></img>
			</div>
			<div class="image-container show-for-small-only">
				<img class="center small-6" src="img/pkCoachJohn.png"></img>
			</div>
			<div class="coach-description text-justify">
				<p>
					John began practicing parkour in 2005 when parkour coaching in the United States was almost non-existent.
					He began coaching in 2009 during his time at Bloomsburg University of Pennsylvania, and earned his 
					Level 1 ADAPT coaching qualification in 2011. In 2015 John took the intensive 5-day Level 2 ADAPT coaching
					qualification, and is actively training for the Level 2 assessments.
				</p>
			</div>
		</div>
	</div>
</div>