<div th:fragment="coachesModule">
	<script th:src="@{/js/coaches.js}"></script>
	
	<div id="coaches" class="small-12" ng-controller="coachController">
		<p class="text-center show-for-medium-down">Press on an image for more details about the coach</p>
		
		<!-- The list of coaches -->
		<div class="coach small-12 medium-4 columns" ng-repeat="coach in coaches">
			<h3 class="text-center">{{ coach.firstName + " " + coach.lastName }}</h3>
			<a href="#" data-reveal-id="coachModal" ng-click="setSelected($index)">
				<div class="image-container hide-for-small-only">
					<img class="center" src="{{coach.imageUrl}}"></img>
				</div>
				<div class="image-container show-for-small-only">
					<img class="center small-6" src="{{coach.imageUrl}}"></img>
				</div>
			</a>
			<div class="coach-description text-justify">
				<p class="show-for-large-up">
					{{coach.details}}
				</p>
			</div>
		</div>
		
		<!-- The shared modal to display coach information -->
		<div id="coachModal" class="reveal-modal medium" data-reveal="">
			<h3>{{coaches[selected].firstName + " " + coaches[selected].lastName}}</h3>
			<div class="image-container">
				<img class="center small-6" src="{{coaches[selected].imageUrl}}"></img>
			</div>
			<p>{{coaches[selected].details}}</p>
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</div>	
</div>