<div th:fragment="contentModule">
	<script th:src="@{/js/content.js}"></script>
	
	<div id="home" class="body-content">
		<div th:include="home :: homeModule"></div>
	</div>
	
	<div id="classes" class="body-content">
		<div th:include="classes :: classesModule"></div>
	</div>
	
	<div id="privateLessons"  class="body-content">
		<div th:include="privatelessons :: privateLessonsModule"></div>
	</div>
	
	<div id="coaches"  class="body-content">
		<div th:include="coaches :: coachesModule"></div>
	</div>
	
	<div id="contact"  class="body-content">
		<div th:include="contact :: contactModule"></div>
	</div>
</div>