<div th:fragment="homeModule">
	<script th:src="@{/js/home.js}"></script>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<h2 class="text-center">What is Parkour?</h2>
		<div class="text-justify">This is stuff that should display mayal aslka alksd aslkgj glkjrhlkj ga glakj glksjg lkg alg lkg aslgj aslk aslsals gjalsg alsdgj alsd</div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<h2 class="text-center">Our Group Classes</h2>
		<div class="text-justify">This is stuff that should display</div>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<h2 class="text-center">Are Private Lessons For You?</h2>
		<div class="text-justify">This is stuff that should display</div>
	</div>
</div>