<div th:fragment="imageCarouselModule">
	<script th:src="@{/js/slick/slick.js}"></script>
	<script th:src="@{/js/imageCarousel.js}"></script>

	<div class="small-12 medium-12 large-12">
		<div class="carousel-wrapper">
			<div class="image-carousel center">
				<!-- The list of carousel objects -->
				<div th:each="item : ${carouselItems}">
					<div class="carousel-text" th:if="${item.type == 'Q'}">
						<p class="quote" th:text="${item.quote}"></p>
						<p class="attribution" th:text="${item.attribution}"></p>
					</div>
					<div class="carousel-image" th:if="${item.type == 'I'}">
						<img th:src="${item.imageUrl}" />
					</div>
				</div>
		    </div>
		</div>
	</div>
    
</div>