<div th:fragment="imageCarouselModule">
	<script th:src="@{/js/slick/slick.js}"></script>
	<script th:src="@{/js/imageCarousel.js}"></script>

	<div class="small-12 medium-12 large-12" ng-app="imageCarouselApp" ng-controller="carouselController">
		<div class="carousel-wrapper">
			<div class="image-carousel center">
				<!-- The list of carousel objects -->
				<div ng-repeat="item in carouselItems">
					<div class="carousel-text" ng-if="item.type == 'Q'">
						<p class="quote">{{item.quote}}</p>
						<p class="attribution">{{item.attribution}}</p>
					</div>
					<div class="carousel-image" ng-if="item.type == 'I'">
						<img src="{{item.imageUrl}}" />
					</div>
				</div>
		    </div>
		</div>
	</div>
    
</div>