<html>
<head>

	<!-- Main Styles -->
	<link rel="stylesheet" href="/js/slick/slick.css"></link>
	<link rel="stylesheet" href="/js/slick/slick-theme.css"></link>
	<link rel="stylesheet" href="/js/foundation/css/foundation.css"></link>
	<link rel="stylesheet" href="/js/foundation/css/normalize.css"></link>
	<link rel="stylesheet" href="/css/main.css"></link>

</head>
<body id="background">
	<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/jquery.query-object.js}"></script>
	<script th:src="@{/js/foundation/js/foundation/foundation.js}"></script>
	<script th:src="@{/js/foundation/js/foundation/foundation.offcanvas.js}"></script>
	<script th:src="@{/js/foundation/js/foundation/foundation.topbar.js}"></script>
	<script th:src="@{/js/foundation/js/foundation/foundation.reveal.js}"></script>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js}"></script>
	
	<script>
		ParkourEndureApp = angular.module('parkourEndureApp', []);
	</script>
	
	<div id="canvas-wrapper" class="main-section small-12" ng-app="parkourEndureApp">
		<div th:include="canvas :: canvasModule"></div>
	</div>
	
</body>
</html>