<html>
<head>

	<!-- Main Styles -->
	<link rel="stylesheet" href="/css/main.css"></link>
	<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"></link>

</head>
<body>
	<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.query-object.js}"></script>
	
	<div id="main-wrapper">
		<div th:include="header :: headerModule"></div>
	</div>
	
	<div id="content">
		<div th:include="content :: contentModule"></div>
	</div>
	
</body>
</html>